<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <title>About Moody</title>
</head>

<body>
    <div class="container">
        <%- include('./partials/_navbar.ejs') %>
            <div class="index-container">
                <div class="text-container">
                <h1>Moody: Your Personal Mood Tracker</h1>
                <p class="subheader">Moody is your personal space to <strong>track, reflect, and understand</strong> your emotions over time.</p>
                <p class="subheader">Whether you're feeling on top of the world or navigating a tough day, logging your moods can help you
                    notice patterns, process feelings, and take steps toward emotional well-being.</p>
                <p class="subheader">Your emotions are valid. <br><br>Your journey matters. <br><br>Moody is here to help you understand yourself better,
                    one mood at a time.<br><br>💙</p>

                <a href="/" class="back-link">Back to Home</a>
            </div>
            </div>
    </div>
</body>

</html>